services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    command:
      - start-dev
      - --import-realm
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: password
      KC_HOSTNAME: keycloak
      KC_HOSTNAME_STRICT: false
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak/realm:/opt/keycloak/data/import
      - keycloak_data:/opt/keycloak/data
    restart: always

  eureka-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PROJECT_DIR: EurekaServer
    image: ghcr.io/heitor-galindo/eureka-server:1.0.0
    ports:
      - "8761:8761"
    restart: on-failure
    depends_on:
      - keycloak

  student-ms:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PROJECT_DIR: StudentMS
    image: ghcr.io/heitor-galindo/student-ms:1.0.0
    container_name: campstone-security-student-ms
    environment:
      EUREKA_HOST: http://eureka-server:8761/eureka/
      KEYCLOAK_ISSUER: http://keycloak:8080/realms/MsSecurity
      KEYCLOAK_TOKEN_URI: http://keycloak:8080/realms/MsSecurity/protocol/openid-connect/token
    ports:
      - "8084:8084"
    restart: on-failure
    depends_on:
      - eureka-server

  reservation-ms:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PROJECT_DIR: ReservationMS
    image: ghcr.io/heitor-galindo/reservation-ms:1.0.0
    container_name: campstone-security-reservations-ms
    environment:
      EUREKA_HOST: http://eureka-server:8761/eureka/
      KEYCLOAK_ISSUER: http://keycloak:8080/realms/MsSecurity
      KEYCLOAK_TOKEN_URI: http://keycloak:8080/realms/MsSecurity/protocol/openid-connect/token
      MS_RESERVATION_CLIENT_SECRET: 123asd
    ports:
      - "8086:8086"
    restart: on-failure
    depends_on:
      - student-ms

  kafka:
    image: apache/kafka:latest
    hostname: broker
    container_name: broker
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk


volumes:
  keycloak_data:



# =====================================================
#
#  gateway:
#    build:
#      context: .
#      dockerfile: Dockerfile
#      args:
#        PROJECT_DIR: gateway
#    image: ghcr.io/heitor-galindo/gateway:latest
#    environment:
#      EUREKA_HOST: http://eureka-server:8761/eureka/
#      KEYCLOAK_ISSUER: http://keycloak:8080/realms/MsSecurity
#    ports:
#      - "8089:8089"
#    restart: on-failure


